= simple_form_for(@resume_exam) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :organization
    = f.input :specialization
    = f.input :expire_year

  .form-actions
    = f.button :submit
