%h3 Образование
- if @resume_exam.title 
  %p
    %b Название:
    = @resume_exam.title
- if @resume_exam.organization
  %p
    %b Проводившая организация:
    = @resume_exam.organization
- if @resume_exam.specialization
  %p
    %b Специализация/специальность:
    = @resume_exam.specialization
- if @resume_exam.expire_year
  %p
    %b Год окончания:
    = @resume_exam.expire_year

= link_to 'Редактировать', edit_resume_exam_path(@resume_exam), class: 'btn btn-default'
