= simple_form_for(@menu_category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Название'
    = f.select :link, @final_routes.map { |value| [value.to_s, value.to_s] }
    = f.input :publish, label: 'Опубликовать'

  .form-actions
    = f.button :submit, 'Сохранить'
