= simple_form_for(@menu_category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Название'
    = f.input :publish, label: 'Опубликовать'
    = f.input :color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}
    = f.select :link, @final_routes.map { |value| [value.to_s, value.to_s] }

  .form-actions
    = f.button :submit, 'Сохранить'
