%ul.nav.nav-tabs
  %li
    = link_to 'Контакты', resume_path(@resume), remote: true
  %li
    = link_to 'Желаемая должность', resume_post_path(@resume), remote: true
  %li
    = link_to 'Опыт работы', resume_work_path(@resume), remote: true
  %li
    = link_to 'Образование', resume_exam_path(@resume), remote: true
  %li
    = link_to 'Курсы', resume_course_path(@resume), remote: true
  %li.active
    = link_to 'Рекомендации', resume_recomendation_path(@resume), remote: true
  - if current_user and  current_user.role == 'user' and @resume.user == current_user
    %li
      = link_to 'Отклики', view_answers_path(@resume), remote: true
- if @resume_recomendation.name
  %p
    %b Имя:
    = @resume_recomendation.name
- if @resume_recomendation.post
  %p
    %b Должность:
    = @resume_recomendation.post
- if @resume_recomendation.organization
  %p
    %b Организация:
    = @resume_recomendation.organization
- if @resume_recomendation.phone
  %p
    %b Телефон:
    = @resume_recomendation.phone

- if @resume_recomendation.resume.user == current_user
  %p
    = link_to edit_resume_recomendation_path(@resume_recomendation), style: 'float: right;' do
      = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
  %br