%h3 Рекомендации
- if @resume_recomendation.name
  %p
    %b Имя:
    = @resume_recomendation.name
- if @resume_recomendation.post
  %p
    %b Должность:
    = @resume_recomendation.post
- if @resume_recomendation.organization
  %p
    %b Организация:
    = @resume_recomendation.organization
- if @resume_recomendation.phone
  %p
    %b Телефон:
    = @resume_recomendation.phone

= link_to 'Редактировать', edit_resume_recomendation_path(@resume_recomendation), class: 'btn btn-default'
