%h3 Рекомендации
- if @resume_recomendation.name
  %p
    %b Name:
    = @resume_recomendation.name
- if @resume_recomendation.post
  %p
    %b Post:
    = @resume_recomendation.post
- if @resume_recomendation.organization
  %p
    %b Organization:
    = @resume_recomendation.organization
- if @resume_recomendation.phone
  %p
    %b Phone:
    = @resume_recomendation.phone

= link_to 'Edit', edit_resume_recomendation_path(@resume_recomendation)
