%h1.front-interships__title Отзывы о компании

- @company_reviews.each do |company_review|
  %h3
    Отзыв от #{company_review.user.name}
  %p= company_review.review
  %br
  %td= link_to 'Просмотр', company_review, class: 'btn btn-default'
  %br
  - if current_user == company_review.user
    %td= link_to 'Редактировать', edit_company_review_path(company_review), class: 'btn btn-default'
    %td= link_to 'Удалить', company_review, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br
%br

= link_to 'Добавить обзор', new_company_review_path, class: 'btn btn-default'
= link_to 'Назад', companies_path, class: 'btn btn-default'
