%h1 Listing company_reviews

%table
  %thead
    %tr
      %th Review
      %th Mark
      %th User
      %th
      %th
      %th

  %tbody
    - @company_reviews.each do |company_review|
      %tr
        %td= company_review.review
        %td= company_review.mark
        %td= company_review.user
        %td= link_to 'Show', company_review
        %td= link_to 'Edit', edit_company_review_path(company_review)
        %td= link_to 'Destroy', company_review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company review', new_company_review_path
