%h3 
  Отзыв о компании #{@company_review.company.title}
%p#notice= notice

%p
  = @company_review.review
%p
  %b Автор:
  = @company_review.user.name

= link_to 'Назад', company_reviews_path, class: 'btn btn-default'