%h3= @company_vacancy.title
%p#notice= notice

%p
  %b Компания:
  = @company_vacancy.company.title
%p
  %b Зарплата:
  = @company_vacancy.salary
%p
  %b Требования:
  = @company_vacancy.requirements
%p
  %b Описание:
  = @company_vacancy.description
%p
  %b Занятость:
  = @company_vacancy.employment


- if current_user && @company_vacancy.company.user == current_user
  = link_to 'Редактировать', edit_company_vacancy_path(@company_vacancy), class: 'btn btn-default' if current_user == @company_vacancy.user
  = link_to 'Назад', company_vacancies_path, class: 'btn btn-default'
