= simple_form_for(@resume_post) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Желаемая должность'
      = f.input_field :wish_post
    .form-group
      .span1
        = f.label 'Профессиональная область'
      = f.input_field :specialization
    .form-group
      .span1
        = f.label 'Зарплата'
      = f.input_field :salary
    .form-group
      .span1
        = f.label 'Занятость'
      = f.input_field :employment
    .form-group
      .span1
        = f.label 'График работы'
      = f.input_field :timetable

  .form-actions
    = f.button :submit, 'Сохранить'
    = link_to 'Назад', resumes_path, class: 'btn btn-default'
