%h1 Listing graduate_bank_requesits

%table
  %thead
    %tr
      %th Bill
      %th Bank
      %th Bank adress
      %th Bik
      %th Inn
      %th Kpp
      %th Cor bill
      %th Graduate
      %th
      %th
      %th

  %tbody
    - @graduate_bank_requesits.each do |graduate_bank_requesit|
      %tr
        %td= graduate_bank_requesit.bill
        %td= graduate_bank_requesit.bank
        %td= graduate_bank_requesit.bank_adress
        %td= graduate_bank_requesit.bik
        %td= graduate_bank_requesit.inn
        %td= graduate_bank_requesit.kpp
        %td= graduate_bank_requesit.cor_bill
        %td= graduate_bank_requesit.graduate
        %td= link_to 'Show', graduate_bank_requesit
        %td= link_to 'Edit', edit_graduate_bank_requesit_path(graduate_bank_requesit)
        %td= link_to 'Destroy', graduate_bank_requesit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Graduate bank requesit', new_graduate_bank_requesit_path
