%p#notice= notice

%p
  %b Bill:
  = @graduate_bank_requesit.bill
%p
  %b Bank:
  = @graduate_bank_requesit.bank
%p
  %b Bank adress:
  = @graduate_bank_requesit.bank_adress
%p
  %b Bik:
  = @graduate_bank_requesit.bik
%p
  %b Inn:
  = @graduate_bank_requesit.inn
%p
  %b Kpp:
  = @graduate_bank_requesit.kpp
%p
  %b Cor bill:
  = @graduate_bank_requesit.cor_bill
%p
  %b Graduate:
  = @graduate_bank_requesit.graduate

= link_to 'Edit', edit_graduate_bank_requesit_path(@graduate_bank_requesit)
\|
= link_to 'Back', graduate_bank_requesits_path
