%h3= @vacancy.title
%p#notice= notice

%p
  %b Компания:
  = @vacancy.company.title
%p
  %b Зарплата:
  = @vacancy.salary
%p
  %b Требования:
  = @vacancy.requirements
%p
  %b Описание:
  = @vacancy.description
%p
  %b Занятость:
  = @vacancy.employment


- if current_user && @vacancy.company.user == current_user
  = link_to 'Редактировать', edit_company_vacancy_path(@vacancy), class: 'btn btn-default' if current_user == @vacancy.user
  = link_to 'Назад', :back, class: 'btn btn-default'
