%h3= @vacancy.title
%p#notice= notice

%p
  %b Компания:
  = NewCompany.find(@vacancy.new_company_id).full_title
%p
  %b Зарплата:
  = @vacancy.salary
%p
  %b Город:
  = City.find(@vacancy.city).name
%p
  %b Требования:
  = @vacancy.requrements
%p
  %b Описание:
  = @vacancy.description
%p
  %b Занятость:
  = @vacancy.employment


- if current_user && @vacancy.new_company.user == current_user
  = link_to 'Редактировать', edit_vacancy_path(@vacancy), class: 'btn btn-default' if current_user.new_companies.first == @vacancy.new_company
  = link_to 'Назад', :back, class: 'btn btn-default'
