%p#notice= notice

%p
  %b Inn:
  = @requesit.inn
%p
  %b Kpp:
  = @requesit.kpp
%p
  %b Ogrn:
  = @requesit.ogrn
%p
  %b Oktmo:
  = @requesit.oktmo
%p
  %b Okpo:
  = @requesit.okpo
%p
  %b Okato:
  = @requesit.okato
%p
  %b Okogu:
  = @requesit.okogu
%p
  %b Okfs:
  = @requesit.okfs
%p
  %b Okopf:
  = @requesit.okopf
%p
  %b Okved1:
  = @requesit.okved1
%p
  %b Okved2:
  = @requesit.okved2
%p
  %b Okved3s:
  = @requesit.okved3s
%p
  %b Company:
  = @requesit.company

= link_to 'Edit', edit_requesit_path(@requesit)
\|
= link_to 'Back', requesits_path
