%ul.nav.nav-tabs
  %li.active
    = link_to 'Контакты', companies_path(@company), remote: true
  %li
    = link_to 'Клиенты', company_clients_path(@company), remote: true
  %li
    = link_to 'Новости компании', company_news_index_path, remote: true
  %li
    = link_to 'Отзывы о компании', company_reviews_path, remote: true
  %li
    = link_to 'Комментарии', company_comments_path(@company), remote: true

- if @company_contact
  - if @company_contact.phone
    %p
      %b Телефон:
      = @company_contact.phone
  - if @company_contact.adress
    %p
      %b Адрес:
      = @company_contact.adress
  - if @company_contact.fio
    %p
      %b Имя контактного лица:
      = @company_contact.fio
      - if current_user and @company.user = current_user
        = link_to edit_company_contact_path(@company_contact), style: 'float: right;' do
          = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
    %br

- else
  %p 
    Контактная информация не добавлена
    - if current_user and @company.user = current_user
      = link_to new_company_contact_path(@company), style: 'float: right;' do
        = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
  %br