= simple_form_for(@menu_item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Название'
    = f.select :link, @final_routes.map { |value| [value.to_s, value.to_s] }
    = f.input :publish, label: 'Опубликован'
    = f.association :menu_category, label: 'Родительский пункт меню'

  .form-actions
    = f.button :submit, label: 'Сохранить'
