%p#notice= notice

%p
  %b Имя пользователя:
  = @user.username
%p
  %b Никнейм:
  = @user.nickname
%p
  %b Провайдер:
  = @user.provider
%p
  %b Ссылка:
  = @user.url

= link_to 'Редактировать', edit_user_path(@user)
\|
= link_to 'Назад', users_path
