= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Название'
    = f.input :text, label: 'Описание'
    = f.input :starts_at, label: 'Дата начала'
    = f.input :ends_at, label: 'Дата окончания'
    = f.input :all_day, label: 'Весь день'

  .form-actions
    = f.button :submit, 'Создать', class: 'btn btn-default'
