= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :author_id
    = f.input :title
    = f.input :text
    = f.input :starts_at
    = f.input :ends_at
    = f.input :all_day

  .form-actions
    = f.button :submit
