%h1= @event.title
%hr.btn-danger
%p
  %b Описание:
  %br
  = @event.text
%p
  %b Начало:
  = @event.starts_at
%p
  %b Окончание:
  = @event.ends_at
%p
  %b Весь день:
  - if @event.all_day
    да
  - else
    нет

- if current_user.role == 'admin' or @event.author == current_user.role
  = link_to 'Редактировать', edit_event_path(@event), class: 'btn btn-default'
  = link_to 'Удалить', event_path(@event), class: 'btn btn-danger'
