%p#notice= notice

%p
  %b Название:
  = @event.title
%p
  %b Текст:
  = @event.text
%p
  %b Начало:
  = @event.starts_at
%p
  %b Окончание:
  = @event.ends_at
%p
  %b Весь день:
  = @event.all_day

= link_to 'Редактировать', edit_event_path(@event), class: 'btn btn-default'

= link_to 'Удалить', event_path(@event), class: 'btn btn-danger'
