= simple_form_for(@news) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Заголовок'
    = f.input :content, label: 'Контент', :as => :text, :input_html => { :class => "redactor" }
    = f.input :publish, label: 'Опубликована'
    = f.input :image, label: 'ОБложка'

  .form-actions
    = f.button :submit, 'Сохранить'
