%h1 Новости

%table
  %thead
    %tr
      %th Заголовок
      %th Опубликована
      %th Обложка
      %th
      %th
      %th

  %tbody
    - @news.each do |news|
      %tr
        %td= news.title
        %td= news.publish
        %td= news.image
        %td= link_to 'Показать', news
        %td= link_to 'Редактировать', edit_news_path(news)
        %td= link_to 'Удалить', news, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Добавить новость', new_news_path
