= simple_form_for(@company_client) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Название'
      = f.input_field :title
    .form-group
      .span1
        = f.label 'Сайт'
      = f.input_field :website
    .form-group
      .span1
        = f.label 'Описание'
      = f.input_field :description

  .form-actions
    = f.button :submit, 'Сохранить'
    - if params[:format]
      = link_to 'Назад', company_path(params[:format]), class: 'btn btn-default'

