#result.panel.panel-default
  %ul.nav.nav-tabs
    %li
      = link_to 'Контакты', company_contacts_path, remote: true
    %li.active
      = link_to 'Клиенты', company_clients_path, remote: true
    %li
      = link_to 'Новости компании', company_news_index_path, remote: true
    %li
      = link_to 'Отзывы о компании', company_reviews_path, remote: true
    %li
      = link_to 'Комментарии', company_comments_path, remote: true

- if @company_clients
  - @company_clients.each do |company_client|
    %p= company_client.title
    %p= company_client.website
    %p= company_client.description
    - if company_client.company == current_user
      = link_to '', edit_company_client_path(company_client) do
        = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
      = link_to 'Удалить', company_client, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить клиента?' }, class: 'btn btn-danger'

%br
- if @company_clients
  - if @company_clients.company.user == current_user
    = link_to 'Добавить клиента', new_company_client_path, class: 'btn btn-default'
- else
  %p 
    Пока не добавлен ни один клиент
    = link_to '', new_company_client_path do
      = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')