%p#notice= notice

%p
  %b Title:
  = @company_client.title
%p
  %b Website:
  = @company_client.website
%p
  %b Description:
  = @company_client.description

= link_to 'Edit', edit_company_client_path(@company_client)
\|
= link_to 'Back', company_clients_path
