%p#notice= notice

%p
  %b Название:
  = @company_client.title
%p
  %b Сайт:
  = @company_client.website
%p
  %b Описание:
  = @company_client.description

= link_to 'Назад', company_clients_path, class: 'btn btn-default'
