%h3 Повышение квалификации, курсы
- if @resume_course.title 
  %p
    %b Название:
    = @resume_course.title
- if @resume_course.organization
  %p
    %b Проводившая организация:
    = @resume_course.organization
- if @resume_course.specialization
  %p
    %b Специальность/спкциализация:
    = @resume_course.specialization
- if @resume_course.expire_year
  %p
    %b Год окончания:
    = @resume_course.expire_year

= link_to 'Редактировать', edit_resume_course_path(@resume_course), class: 'btn btn-default'
