= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Название компании'
      = f.input_field :title
    .form-group
      .span1
        = f.label 'Логотип'
      = f.input_field :logo
    .form-group
      .span1
        = f.label 'Специализация компании'
      = f.input_field :specialization
    .form-group
      .span1
        = f.label 'Описание'
      = f.input_field :description

  .form-actions
    = f.button :submit, 'Сохранить'