= simple_form_for @company, html: { multipart: true } do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Правовая форма'
      - @forms = ['ИП', 'ООО', 'ЗАО', 'ГУП', 'МУП', 'ПБОЮЛ', 'НК', 'ФОНД', 'ПК', 'ГБУ', 'ОАО', 'АО', 'ФГУП']
      = f.select(:company_type, @forms.map { |value| [ value, value ] })
    .form-group
      .span1
        = f.label 'Название компании'
      = f.input_field :title, size: 40
    .form-group
      .span1
        = f.label 'Сокращенное название компании'
      = f.input_field :short_name, size: 40
    .form-group
      .span1
        = f.label 'Название компании на английском'
      = f.input_field :english_name, size: 40
    .form-group
      .span1
        = f.label 'Логотип'
      = f.input_field :logo, as: :image_preview, input_html: {preview_version: :thumb}
    .form-group
      .span1
        = f.label 'Специализация компании'
      = f.input_field :specialization, size: 40
    .form-group
      .span1
        = f.label 'О компании'
      = f.input_field :description

  .form-actions
    = f.button :submit, 'Сохранить'
    = link_to 'Назад', companies_path, class: 'btn btn-default'
    