- if @companies
  - @companies.each do |company|
    %hr.btn-primary
    %h1
      = company.company_type
      = company.title
    %hr.btn-danger
    %p= company.description
    %p= company.specialization
    %p= company.logo

    %br
    = link_to 'Редактировать общую информацию', edit_company_path(company), class: 'btn btn-default'
    %hr.btn-danger

    %p= link_to 'Контакты', company_contact_path(company.company_contact)
    %p= link_to 'Клиенты', company_clients_path
    %p= link_to 'Новости компании', company_news_index_path
    %p= link_to 'Отзывы о компании', company_reviews_path
    %p= link_to 'Комментарии', company_comments_path
    %p= link_to 'Вакансии', company_vacancies_path(company)
- else
  %h1  У Вас пока нет ни одной компании
  = link_to 'Добавить компанию', new_company_path, class: 'btn btn-default'
