- if @companies
  %h1= @companies.title
  %p= @companies.description
  %p= @companies.specialization
  %p= @companies.logo

  %p= link_to 'Company Contacts', company_contacts_path
  %p= link_to 'Company Clients', company_clients_path
  %p= link_to 'Company News', company_news_index_path
  %p= link_to 'Company Reviews', company_reviews_path
  %p= link_to 'Company Comments', company_comments_path
  %p= link_to 'Company Vacancies', company_vacancies_path

- else
  %h1  У Вас пока нет ни одной компании
  = link_to 'New Company', new_company_path
