= simple_form_for(@company_comment) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Комментарий'
      = f.input_field :comment

  .form-actions
    = f.button :submit, 'Сохранить'
    = link_to 'Назад', companies_path, class: 'btn btn-default'
