= simple_form_for(@company_comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment
    = f.association :company
    = f.association :user

  .form-actions
    = f.button :submit
