= simple_form_for(@company_comment) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Комментарий'
      = f.input_field :comment

  .form-actions
    = f.button :submit, 'Сохранить'
    - if params[:format]
      = link_to 'Назад', company_path(params[:format]), class: 'btn btn-default'
