%h1 Listing company_comments

%table
  %thead
    %tr
      %th Comment
      %th Company
      %th User
      %th
      %th
      %th

  %tbody
    - @company_comments.each do |company_comment|
      %tr
        %td= company_comment.comment
        %td= company_comment.company
        %td= company_comment.user
        %td= link_to 'Show', company_comment
        %td= link_to 'Edit', edit_company_comment_path(company_comment)
        %td= link_to 'Destroy', company_comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company comment', new_company_comment_path
