%h1 Listing abouts

%table
  %thead
    %tr
      %th About
      %th Count people
      %th Achievements
      %th Pluses
      %th Company
      %th
      %th
      %th

  %tbody
    - @abouts.each do |about|
      %tr
        %td= about.about
        %td= about.count_people
        %td= about.achievements
        %td= about.pluses
        %td= about.company
        %td= link_to 'Show', about
        %td= link_to 'Edit', edit_about_path(about)
        %td= link_to 'Destroy', about, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New About', new_about_path
