= simple_form_for(@company_news) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Заголовок'
      = f.input_field :title
    .form-group
      .span1
        = f.label 'Текст'
      = f.input_field :body

  .form-actions
    = f.button :submit, 'Сохранить'
    = link_to 'Назад', company_news_index_path, class: 'btn btn-default'
