#result.panel.panel-default
  %ul.nav.nav-tabs
    %li
      = link_to 'Контакты', company_contacts_path, remote: true
    %li
      = link_to 'Клиенты', company_clients_path, remote: true
    %li.active
      = link_to 'Новости компании', company_news_index_path, remote: true
    %li
      = link_to 'Отзывы о компании', company_reviews_path, remote: true
    %li
      = link_to 'Комментарии', company_comments_path, remote: true

- if @company_news
  - @company_news.each do |company_news|
    %h3= company_news.title
    %p
      = company_news.body
      - if current_user and company_news.user = current_user
        = link_to edit_company_news_path(company_news), style: 'float: right;' do
          = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
    %br
- else 
  %p
    Пока не добавлено ни одной новости
    - if current_user
      = link_to new_company_news_path, style: 'float: right;' do
        = image_tag(asset_path('gg_web_960-12_7_edit_icon.png'), width: '50px')
  %br