%h1 Новости компании

- @company_news.each do |company_news|
  %h3= company_news.title
  %p= company_news.body
  - if current_user == company_news.user_id
    %td= link_to 'Edit', edit_company_news_path(company_news), class: 'btn btn-default'
    %td= link_to 'Destroy', company_news, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить новость?' }, class: 'btn btn-danger'

%br

= link_to 'Добавить новость', new_company_news_path, class: 'btn btn-default'
= link_to 'Назад', companies_path, class: 'btn btn-default'
