= simple_form_for(@resume) do |f|
  = f.error_notification

  .form-inputs
    = f.input :surname
    = f.input :name
    = f.input :patronymic
    = f.input :bith_date
    = f.input :sex
    = f.input :city
    = f.input :change_location
    = f.input :change_location_place
    = f.input :ready_business_trip
    = f.input :nationality
    = f.input :work_ticket
    = f.input :time_to_work
    = f.association :user

  .form-actions
    = f.button :submit
