= simple_form_for(@resume) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      .span1
        = f.label 'Фамилия:'
      = f.input_field :surname
      .span1
        = f.label 'Имя:'
      = f.input_field :name
      .span1
        = f.label 'Отчество:'
      = f.input_field :patronymic
    .form-group
      .span1
        = f.label 'Дата рождения:'
      = f.input_field :bith_date, as: :date, start_year: Date.today.year - 60, end_year: Date.today.year - 16
    .form-group
      .span1
        = f.label 'Пол:'
      = f.select :sex, options_for_select([["Мужской", true], ["Женский", false]]), include_blank: false
    .form-group
      .span1
        = f.label 'Город проживания:'
      = f.collection_select :city, City.all, :id, :name, include_blank: false
    .form-group
      .span1
        = f.label 'Готовность к переезду:'
      = f.select :change_location, ['Невозможен', 'Возможен', 'Желателен'], include_blank: false
    .form-group
      .span1
        = f.label 'Куда желаете переехать:'
      = f.input_field :change_location_place
    .form-group
      .span1
        = f.label 'Готовность к командировкам:'
      = f.input_field :ready_business_trip
    .form-group
      .span1
        = f.label 'Гражданство:'
      = f.input_field :nationality
    .form-group
      .span1
        = f.label 'Разрешение на работу:'
      = f.input_field :work_ticket
    .form-group
      .span1
        = f.label 'Время в пути до работы:'
      = f.select :time_to_work, ['Не имеет значения', '1,5 - 2 часа', '1 час'], include_blank: false

  .form-actions
    = f.button :submit, 'Сохранить и продолжить'
    = link_to 'Назад', resumes_path, class: 'btn btn-default'


:javascript
  $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true,
      todayBtn: 'linked',
      autoclose: true
  }); ;