%h3
  %b
    = @resume.surname
    = @resume.name
    = @resume.patronymic
%hr.btn-danger
%p
  %b Дата рождения:
  = @resume.bith_date
%p
  %b Пол:
  = @resume.sex
%p
  %b Город проживания:
  = @resume.city
%p
  %b Возможность переезда:
  = @resume.change_location
  - if !@resume.change_location_place.blank? && !@resume.change_location_place.nil?
    %b Желательный город для переезда:
    = @resume.change_location_place
%p
  %b Готовность к командировкам:
  = @resume.ready_business_trip
%p
  %b Гражданство:
  = @resume.nationality
%p
  %b Разрешение на работу:
  = @resume.work_ticket
%p
  %b Время в пути до работы:
  = @resume.time_to_work

#result.panel.panel-default
  = render 'resume.html.haml', locals: {:'@resume_contact' => @resume.resume_contact, :'@resume' => @resume}

- if @resume_contact.resume.user == current_user
  = link_to 'Редактировать общую информацию', edit_resume_path(@resume), class: 'btn btn-default'
  %br
  = link_to 'Назад', resumes_path, class: 'btn btn-default'

- a = ResumeAnswer.where(resume: @resume, company: current_user.companies.first).first
- if current_user.role == 'client' and !a
  = link_to 'Направить отзыв', send_answer_path(@resume, current_user.companies.first), method: 'post'
