%h3.front-interships__title
  %b
    = @resume.surname
    = @resume.name
    = @resume.patronymic
%hr.btn-danger
%p
  %b Дата рождения:
  = @resume.bith_date
%p
  %b Пол:
  - if @resume.sex
    Мужской
  - else
    Женский
%p
  %b Город проживания:
  = City.find(@resume.city).name
%p
  %b Возможность переезда:
  = @resume.change_location
  - if !@resume.change_location_place.blank? && !@resume.change_location_place.nil?
    %b Желательный город для переезда:
    = City.find(@resume.change_location_place).name
%p
  %b Готовность к командировкам:
  - if @resume.ready_business_trip
    Готов(а)
  - else
    Не готов(а)
%p
  %b Гражданство:
  = Country.find(@resume.nationality).name
%p
  %b Разрешение на работу:
  = Country.find(@resume.work_ticket).name
%p
  %b Время в пути до работы:
  = @resume.time_to_work
  - if current_user and @resume.user = current_user
    = link_to edit_resume_path(@resume), style: 'float: right;' do
      = image_tag('gg_web_960-12_7_edit_icon.png', width: '50px')
%br
#result.panel.panel-default
  = render 'resume.html.haml', locals: {:'@resume_contact' => @resume.resume_contact, :'@resume' => @resume}

- if @resume_contact.resume.user == current_user
  %br
  = link_to 'Назад', resumes_path, class: 'btn btn-default'
  = link_to 'Удалить резюме', resume_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger'
  %br

  - if current_user.role == 'client' and !a and current_user.companies.first
    = link_to 'Направить отзыв', send_answer_path(@resume, current_user.companies.first), method: 'post'

= image_tag('gg_web_960-12_news_section.png')
%br
= image_tag('gg_web_960-12_7_logo_placeholder.png', width: '50%', height: '300px;', style: 'float: left')
%br
= image_tag('gg_web_960-12_7_logo_placeholder.png', width: '70%', height: '300px;', style: 'float: right')
%br
= image_tag('gg_web_960-12_7_logo_placeholder.png', width: '80%', height: '300px;', style: 'float: left')
.clear
