%ul.nav.nav-tabs
  %li
    = link_to 'Контакты', resume_path(resume), remote: true
  %li
    = link_to 'Желаемая должность', resume_post_path(@resume), remote: true
  %li
    = link_to 'Опыт работы', resume_work_path(@resume), remote: true
  %li
    = link_to 'Образование', resume_exam_path(@resume), remote: true
  %li
    = link_to 'Курсы', resume_course_path(@resume), remote: true
  %li
    = link_to 'Рекомендации', resume_recomendation_path(@resume), remote: true
  %li.active
    = link_to 'Отклики', view_answers_path(@resume), remote: true
- if @answers
  %ul
    - @answers.each do |answer|
      %li
        %b
          = link_to "#{answer.company.title}, #{answer.created_at}", company_vacancies_path(answer.company)
