!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Gg2'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Gg2'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .l-wrapper
      .l-main
        .l-content
          %header.l-header
            .logo
              = link_to root_path do
                = image_tag('gg_basic_logo_RGB.png', size: '300x100')
            .top-navigation
              - if user_signed_in?
                = link_to 'Выход', destroy_user_session_path, :method=>'delete'
                |
                = link_to 'Меню', menu_path 
                |
                = link_to 'Задай вопрос' 
                |
                = link_to 'Обратный звонок' 
              - else
                = link_to 'Вход', new_user_session_path
                |
                = link_to 'Регистрация', new_user_registration_path
                |
                = link_to 'Задай вопрос' 
                |
                = link_to 'Обратный звонок' 
              %br
              .front-search.top-navigation__front-search
                = form_tag(search_result_path, { :class => 'front-search__form' }) do
                  = select_tag :type, options_for_select([['Вакансии', 'vacancy'],['Резюме', 'resume'],['Стажировки', 'practice']]), { class: 'front-search__control' }
                  = collection_select :city, :id, City.all, :id, :name, {include_blank: false}, { class: 'front-search__control' }
                  = submit_tag '', class: 'search'

              = form_tag(search_result_path, {:class => 'top-navigation__search'}) do
                = text_field_tag 'Поиск', nil, style: "width: 92%; display: inline;", id: 'query', name: 'query', class: 'top-navigation__search-input'
                = submit_tag '', class: 'search'
            .clear

            %nav.main-menu{style: 'text-align: center; color: white;'}
              %ul.main-menu__level-0
                - @menu_categories.each do |category|
                  %li
                    = link_to category.title, category.link, style: "background: ##{category.color}"
                    - if category.menu_items
                      %ul.main-menu__level-1
                        - category.menu_items.each do |item|
                          %li
                            = link_to item.title, item.link, style: "background: ##{category.color}"

            / = render 'layouts/messages'
            - if request.env['PATH_INFO'] == root_path
              .slider{ style: "width: #{BannerRegion.first.width}; height: #{BannerRegion.first.height};, padding: 0;"}
                / %ul.slide
                /   %li
                /     = image_tag('gg_slider1.png')
                /   %li
                /     = image_tag('gg_slider2.png')
                /   %li
                /     = image_tag('gg_slider3.png')
                / = image_tag(Banner.where(banner_region: BannerRegion.first.id).last.path) if Banner.where(banner_region: BannerRegion.first.id).last
              %section.interships-calendar
                .front-interships.interships-calendar__interships
                  %h2.front-interships__title Interships/Стажировки по профессиям
                  - if @practicies
                    - @practicies.each do |practice|
                      %h3.front-interships__item-title
                        = practice.company
                      .front-interships__item-subtitle
                        = practice.post
                        = practice.long
                      = link_to 'Читать дальше', company_practice_path(practice), class: 'front-interships__read-more'
                .interships-calendar__calendar
                  = link_to 'Предложи событие', new_event_path, class: 'interships-calendar__calendar-add'
              %section.news-block
                %h2.news-block__title Новости
                .news-block__image
                .news-block__event
                  Вебинар BIG DATA в фармацевтике
                  = link_to 'Стать участником события', '#', class: 'news-block__event-link'
                .news-block__news-row
              %section.advertising
              .consultant-widget
              %footer.l-footer
                %ul.footer-nav-first
                  %li.footer-nav-first__item= link_to 'Карьерные карты', career_cards_path
                  %li.footer-nav-first__item= link_to 'Об оплате', about_payment_path
                %ul.footer-nav-second
                  %li.footer-nav-first__second
                    = link_to 'twitter', 'twitter', class: 'footer-nav-second__link'
                    = link_to 'facebook', 'facebook', class: 'footer-nav-second__link'
                    = link_to 'vk', 'vk', class: 'footer-nav-second__link'
                %ul.footer-nav-third
                  %li.footer-nav-first__item= link_to 'Публичная оферта', oferta_path
                  %li.footer-nav-first__item= link_to 'Реквизиты', requesits_path

            /   #career.pull-left
            /     = image_tag('gg_web_960-12_7_carerra_section.png')
            /     - if @vacancies
            /       - @vacancies.each do |vacancy|
            /         = link_to company_vacancy_path(vacancy.company, vacancy) do
            /           %h3= vacancy.title
            /           %p
            /             %b= vacancy.salary
            /         %hr
            /     - else
            /       %p На данный момент вакансий нет.
            /   #sidebar.pull-right
            /     - pay_url = Robokassa.client.init_payment_url(0, 1, "TEST", '', 'ru', 'miralas777@yandex.ru', {})
            /     = link_to "Оплатить доступ к базе резюме через ROBOKASSA", pay_url, class: 'btn btn-success', style: 'width: 100%; line-height: 3em;'
            /     #datepicker
            /     %br
            /     .panel.panel-default
            /       .panel-heading
            /         %h3 Новости
            /       .panel-body
            /         - if @top_news
            /           - @top_news.each do |news|
            /             = link_to news_path(news) do
            /               %h4= news.title.truncate(25)
            /               %hr.btn-danger
            /         - else
            /           %p На данный момент новостей нет.
            /     .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
            /       = image_tag('sidebar.gif', style: 'width: 100%')
            /   %br
            /   = image_tag('gg_web_960-12_news_section.png')
            /   #news.pull-left
            /     - if !@news.empty?
            /       = image_tag(@news.first || 'gg_web_960-12_news_image.png', width: '100%')
            /       %h2{style: 'color: rgb(240, 64, 129);'} 
            /         = @news.first.title
            /       %p
            /         = raw @news.first.content
            /       = link_to 'Читать далее', news_path(@news.first), style: 'color: rgb(240, 64, 129);'
            /       .clear
            /       %br
            /       .panel.panel-default.pull-left{ style: "width: #{BannerRegion.first(3).last.width}; height: #{BannerRegion.first(3).last.height};" }
            /         = image_tag(Banner.where(banner_region: BannerRegion.first(3).last.id).last.path) if Banner.where(banner_region: BannerRegion.first(3).last.id).last
            /       .panel.panel-default.pull-right{ style: "width: #{BannerRegion.last(2).first.width}; height: #{BannerRegion.last(2).first.height};" }
            /         = image_tag(Banner.where(banner_region: BannerRegion.last(2).last.id).last.path) if Banner.where(banner_region: BannerRegion.last(2).last.id).last
            /       .news-columns
            /         - @news.last(2).each do |mini_news|
            /           .news.pull-left{ style: 'width: 46%' }
            /             = image_tag(mini_news.image || 'gg_web_960-12_news_image.png')
            /             %h2= mini_news.title
            /             %p= raw mini_news.content
            /             = link_to 'Читать далее', news_path(mini_news), style: 'color: rgb(240, 64, 129);'
            /   .clear{style: 'content: "", display: block; clear: both;'}
            /   %br
            / - else
            /   #news.pull-left
            /     = yield
            /   #sidebar.pull-right
            /     - if current_user
            /       - if current_user.role != 'user'
            /         - pay_url = Robokassa.client.init_payment_url(0, 1, "TEST", '', 'ru', 'miralas777@yandex.ru', {})
            /         = link_to "Оплатить через ROBOKASSA", pay_url, class: 'btn btn-success', style: 'width: 100%; line-height: 3em;'
            /     #datepicker
            /     %br
            /     .panel.panel-default
            /       .panel-heading
            /         %h3 Новости
            /       .panel-body
            /         - if @top_news
            /           - @top_news.each do |news|
            /             = link_to news_path(news) do
            /               %h4= news.title.truncate(25)
            /               %hr.btn-danger
            /         - else
            /           %p На данный момент новостей нет.
            /     .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
            /       = image_tag('sidebar.gif', style: 'width: 100%')
            / = image_tag(Banner.where(banner_region: BannerRegion.second.id).last.path) if Banner.where(banner_region: BannerRegion.second.id).last
            / .clear{style: 'content: "", display: block; clear: both;'}
            / #bottom.well{ style: "width: #{BannerRegion.last.width}; height: #{BannerRegion.last.width};"}
            / = image_tag('bottom.gif', style: 'width: 100%')
            / = image_tag(Banner.where(banner_region: BannerRegion.last.id).last.path) if Banner.where(banner_region: BannerRegion.last.id).last
            / #footer
            /   %ul.pull-left
            /     %li= link_to 'Карьерные карты', career_cards_path
            /     %li= link_to 'Об оплате', about_payment_path
            /   %ul.pull-right
            /     %li= link_to 'Публичная оферта', oferta_path
            /     %li= link_to 'Реквизиты', requesits_path