!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Gg2'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Gg2'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1669644663254564',
            xfbml      : true,
            version    : 'v2.4'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      %header
        #logo
          = link_to root_path do
            = image_tag('gg_basic_logo_RGB.png', size: '300x100')
        #top-navigation
          - if user_signed_in?
            = link_to 'Выход', destroy_user_session_path, :method=>'delete'
            |
            = link_to 'Меню', menu_path 
            |
            = link_to 'Задай вопрос' 
            |
            = link_to 'Обратный звонок' 
          - else
            = link_to 'Вход', new_user_session_path
            |
            = link_to 'Регистрация', new_user_registration_path
            |
            = link_to 'Задай вопрос' 
            |
            = link_to 'Обратный звонок' 
          %br
          = form_tag(search_result_path) do
            = text_field_tag 'Поиск', nil, style: "width: 78%; display: inline;"
            = submit_tag 'Поиск', style: "width: 20%; display: inline;"
        .clear
        - if !@menu_categories.empty?
          - color = "rgb(250, 204, 38)"
          #menu.primary_nav_wrap{style: 'text-align: center; background: #2e87d5; color: white;'}
            %ul
              - @menu_categories.each do |category|
                %li
                  = link_to category.title, category.link, style: "padding: 0px 20px; color: white; text-transform: uppercase; background-color: #{color}; "
                  - if category.menu_items.first
                    %ul
                      - category.menu_items.each do |item|
                        %li
                          = link_to item.title, item.link, style: "padding: 0px 20px; color: white; text-transform: uppercase; background-color: #{color}; line-height: 3em;"
        - else
          #menu.primary_nav_wrap{style: 'text-align: center; background: #2e87d5; color: white;'}
            %ul
              %li
                = link_to 'ВЫПУСКНИКАМ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
                %ul
                  %li= link_to 'СТАЖИРОВКИ/ПРАКТИКИ ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white; line-height: 3em;'
                  %li= link_to 'ВАКАНСИИ', all_vacancies_path, style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white; line-height: 3em;'
                  %li= link_to 'СОЗДАТЬ РЕЗЮМЕ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white; line-height: 3em;'
              %li
                = link_to 'РАБОТОДАТЕЛЯМ', '#', style: 'display: inline-block; background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
                %ul
                  %li= link_to 'РАЗМЕСТИТЬ СТАЖИРОВКУ/ПРАКТИКУ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white; line-height: 3em;'
                  %li= link_to 'РАЗМЕСТИТЬ ВАКАНСИЮ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white; line-height: 3em;'
                  %li= link_to 'КЛУБ GG', club_path, style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white; line-height: 3em;'
                  %li= link_to 'ПРАЙС-ЛИСТ', pricelist_path, style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white; line-height: 3em;'
              %li
                = link_to 'УЧЕБНЫМ ЗАВЕДЕНИЯМ', '#', style: 'background: rgb(198, 43, 108); padding: 0px 20px; color: white;'
                %ul
                  %li= link_to 'КЛУБ GG', club_path, style: 'background: rgb(198, 43, 108); padding: 0px 20px; color: white; line-height: 3em;'
              %li
                = link_to 'e-Learning' , e_learning_path,style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                %ul
                  %li
                    = link_to 'СОВЕТЫ ЭКСПЕРТОВ', experts_path, style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white; line-height: 3em;'
                    = link_to 'ТЕСТЫ', tests_path, style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white; line-height: 3em;'
                    = link_to 'ОБУЧАЮЩИЕ ВЕБИНАРЫ', webinars_path, style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white; line-height: 3em;'
                    = link_to 'ASSESEMENT-ЦЕНТР', assesement_path, style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white; line-height: 3em;'
      #content{:role => "main"}
        / = render 'layouts/messages'
        - if request.env['PATH_INFO'] == root_path
          #slider.well{ style: "width: #{BannerRegion.first.width}; height: #{BannerRegion.first.height};, padding: 0;"}
            %ul.slide
              %li
                = image_tag('gg_slider1.png')
              %li
                = image_tag('gg_slider2.png')
              %li
                = image_tag('gg_slider3.png')
            / = image_tag(Banner.where(banner_region: BannerRegion.first.id).last.path) if Banner.where(banner_region: BannerRegion.first.id).last
          #career.pull-left
            = image_tag('gg_web_960-12_7_carerra_section.png')
            - if @vacancies
              - @vacancies.each do |vacancy|
                = link_to company_vacancy_path(vacancy.company, vacancy) do
                  %h3= vacancy.title
                  %p
                    %b= vacancy.salary
                %hr
            - else
              %p На данный момент вакансий нет.
          #sidebar.pull-right
            - pay_url = Robokassa.client.init_payment_url(0, 1, "TEST", '', 'ru', 'miralas777@yandex.ru', {})
            = link_to "Оплатить доступ к базе резюме через ROBOKASSA", pay_url, class: 'btn btn-success', style: 'width: 100%; line-height: 3em;'
            #datepicker
            %br
            .panel.panel-default
              .panel-heading
                %h3 Новости
              .panel-body
                - if @top_news
                  - @top_news.each do |news|
                    = link_to news_path(news) do
                      %h4= news.title.truncate(25)
                      %hr.btn-danger
                - else
                  %p На данный момент новостей нет.
            .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
              = image_tag('sidebar.gif', style: 'width: 100%')
          %br
          = image_tag('gg_web_960-12_news_section.png')
          #news.pull-left
            - if @news
              = image_tag(@news.first || 'gg_web_960-12_news_image.png', width: '100%')
              %h2{style: 'color: rgb(240, 64, 129);'} 
                = @news.first.title
              %p
                = raw @news.first.content
              = link_to 'Читать далее', news_path(@news.first), style: 'color: rgb(240, 64, 129);'
              .clear
              %br
              .panel.panel-default.pull-left{ style: "width: #{BannerRegion.first(3).last.width}; height: #{BannerRegion.first(3).last.height};" }
                = image_tag(Banner.where(banner_region: BannerRegion.first(3).last.id).last.path) if Banner.where(banner_region: BannerRegion.first(3).last.id).last
              .panel.panel-default.pull-right{ style: "width: #{BannerRegion.last(2).first.width}; height: #{BannerRegion.last(2).first.height};" }
                = image_tag(Banner.where(banner_region: BannerRegion.last(2).last.id).last.path) if Banner.where(banner_region: BannerRegion.last(2).last.id).last
              .news-columns
                - @news.last(2).each do |mini_news|
                  .news.pull-left{ style: 'width: 46%' }
                    = image_tag(mini_news.image || 'gg_web_960-12_news_image.png')
                    %h2= mini_news.title
                    %p= raw mini_news.content
                    = link_to 'Читать далее', news_path(mini_news), style: 'color: rgb(240, 64, 129);'
          .clear{style: 'content: "", display: block; clear: both;'}
          %br
        - else
          #news.pull-left
            = yield
          #sidebar.pull-right
            - if current_user
              - if current_user.role != 'user'
                - pay_url = Robokassa.client.init_payment_url(0, 1, "TEST", '', 'ru', 'miralas777@yandex.ru', {})
                = link_to "Оплатить через ROBOKASSA", pay_url, class: 'btn btn-success', style: 'width: 100%; line-height: 3em;'
            #datepicker
            %br
            .panel.panel-default
              .panel-heading
                %h3 Новости
              .panel-body
                - if @top_news
                  - @top_news.each do |news|
                    = link_to news_path(news) do
                      %h4= news.title.truncate(25)
                      %hr.btn-danger
                - else
                  %p На данный момент новостей нет.
            .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
              = image_tag('sidebar.gif', style: 'width: 100%')
              / # = image_tag(Banner.where(banner_region: BannerRegion.second.id).last.path) if Banner.where(banner_region: BannerRegion.second.id).last
          .clear{style: 'content: "", display: block; clear: both;'}
        #bottom.well{ style: "width: #{BannerRegion.last.width}; height: #{BannerRegion.last.width};"}
          = image_tag('bottom.gif', style: 'width: 100%')
          / = image_tag(Banner.where(banner_region: BannerRegion.last.id).last.path) if Banner.where(banner_region: BannerRegion.last.id).last
        #footer
          %ul.pull-left
            %li= link_to 'Карьерные карты', career_cards_path
            %li= link_to 'Реклама на сайте', marketing_path
            %li= link_to 'Об оплате', about_payment_path
            %li= link_to 'Реквизиты', requesits_path
          %ul.pull-right
            %li= link_to 'Публичная оферта', oferta_path
            %li= link_to 'Игры', games_path
            %li= link_to 'Каталог', catalog_path
            %li= link_to 'О компании', about_path