!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Gg2'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Gg2'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1669644663254564',
            xfbml      : true,
            version    : 'v2.4'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      %header
        #logo
          = link_to root_path do
            = image_tag('gg_basic_logo_RGB.png', size: '300x100')
        #top-navigation
          - if user_signed_in?
            = link_to 'Выход', destroy_user_session_path, :method=>'delete'
            |
            = link_to 'Задай вопрос' 
            |
            = link_to 'Обратный звонок' 
          - else
            = link_to 'Вход', new_user_session_path
            |
            = link_to 'Регистрация', new_user_registration_path
            |
            = link_to 'Задай вопрос' 
            |
            = link_to 'Обратный звонок' 
          %br
          = text_field_tag 'Поиск', nil, style: "width: 78%; display: inline;"
          = button_tag 'Поиск', style: "width: 20%; display: inline;"
        .clear

        #menu.primary_nav_wrap{style: 'text-align: center; background: #2e87d5; color: white;'}
          %ul
            %li
              = link_to 'СОИСКАТЕЛЯМ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
              %ul
                %li= link_to 'ВАКАНСИИ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
                %li= link_to 'ПО ОТРАСЛЯМ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
                %li= link_to 'РАБОЧИЕ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
                %li= link_to 'ИНЖЕНЕРЫ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
                %li= link_to 'УПРАВЛЯЮЩИЕ', '#', style: 'background: rgb(250, 204, 38); padding: 0px 20px; color: white;'
            %li
              = link_to 'РАБОТОДАТЕЛЯМ', '#', style: 'display: inline-block; background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
              %ul
                %li= link_to 'РЕЗЮМЕ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
                %li= link_to 'ПО ОТРАСЛЯМ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
                %li= link_to 'РАБОЧИЕ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
                %li= link_to 'ИНЖЕНЕРЫ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
                %li= link_to 'УПРАВЛЯЮЩИЕ', '#', style: 'background: rgb(118, 205, 255); padding: 0px 20px; color: white;'
            %li
              = link_to 'УЧЕБНЫМ ЗАВЕДЕНИЯМ', '#', style: 'background: rgb(198, 43, 108); padding: 0px 20px; color: white;'
            %li
              = link_to 'ВЫПУСКНИКАМ' , '#',style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
              %ul
                %li
                  = link_to 'ДНИ ОТКРЫТЫХ ДВЕРЕЙ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                  = link_to 'ДНИ КАРЬЕРЫ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                  = link_to 'ЯРМАРКИ ВАКАНСИЙ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                  = link_to 'СТАЖИРОВКИ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                  = link_to 'ПРАКТИКИ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
                  = link_to 'КАРЬЕРНЫЕ КАРТЫ', '#', style: 'background: rgb(240, 64, 129); padding: 0px 20px; color: white;'
      #content{:role => "main"}
        / = render 'layouts/messages'
        - if request.env['PATH_INFO'] == root_path
          #slider.well{ style: "width: #{BannerRegion.first.width}; height: #{BannerRegion.first.height};, padding: 0;"}
            = image_tag(Banner.where(banner_region: BannerRegion.first.id).last.path) if Banner.where(banner_region: BannerRegion.first.id).last
          = image_tag('gg_web_960-12_news_section.png')
          #news.pull-left
            = image_tag(@news.first.image || 'gg_web_960-12_news_image.png', width: '100%')
            %h2{style: 'color: rgb(240, 64, 129);'} 
              = @news.first.title
            %p
              = raw @news.first.content
            = link_to 'Читать далее', news_path(@news.first), style: 'color: rgb(240, 64, 129);'
            .clear
            %br
            .panel.panel-default.pull-left{ style: "width: #{BannerRegion.first(3).last.width}; height: #{BannerRegion.first(3).last.height};" }
              = image_tag(Banner.where(banner_region: BannerRegion.first(3).last.id).last.path) if Banner.where(banner_region: BannerRegion.first(3).last.id).last
            .panel.panel-default.pull-right{ style: "width: #{BannerRegion.last(2).first.width}; height: #{BannerRegion.last(2).first.height};" }
              = image_tag(Banner.where(banner_region: BannerRegion.last(2).last.id).last.path) if Banner.where(banner_region: BannerRegion.last(2).last.id).last
            .news-columns
              - @news.last(2).each do |mini_news|
                .news.pull-left{ style: 'width: 46%' }
                  = image_tag(mini_news.image || 'gg_web_960-12_news_image.png')
                  %h2 mini_news.title
                  %p raw mini_news.content
                  = link_to 'Читать далее', news_path(mini_news), style: 'color: rgb(240, 64, 129);'
          #sidebar.pull-right
            #datepicker
            %br
            .panel.panel-default
              .panel-heading
                %h3 Новости
              .panel-body
                - if @company_all_news
                  - @company_all_news.each do |news|
                    %h4
                      = news.created_at.to_date
                      = news.title
                    %hr.btn-danger
                    = link_to news.body.truncate(30), company_news_path(news)
                - else
                  %p На данный момент новостей нет.
            .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
              = image_tag(Banner.where(banner_region: BannerRegion.second.id).last.path) if Banner.where(banner_region: BannerRegion.second.id).last
            .clear{style: 'content: "", display: block; clear: both;'}
          %br
          #career.pull-left
            = image_tag('gg_web_960-12_7_carerra_section.png')
            = image_tag('gg_web_960-12_news_image.png', width: '95%')
            %h2{style: 'color: rgb(240, 64, 129);'} dfdjfh skjdfhskjdf kjdshfsd
            %p{style: 'columns: 200px auto;'} jdshfjkdfhjksdfh kjsdfhsk fjshjd dsjkfh sdjfksjdhfdsjf ksdjhf sdfhks djsdhf sdf skdjf sdkjf sf sdkjfh sdf sf sdkf s fshf ksjdhf sjd fksdfh sjd fsjkdf skjdf skfhsfwoiqoif qks fksdjfklsdf sdjfhqofldsf skfdjoidsjfs sdjfl sfkh fjfireh fqe hweufh wruef wuehf nsjddsbfwf kdkcmdkncjnqmdcmo  djsdfjjhsdfk djshfds kjfds ds sf sdkjfh sdf sf sdkf s fshf ksjdhf sjd fksdfh sjd fsjkdf skjdf skfhsfwoiqoif qks fksdjfklsdf sdjfhqofldsf skfdjoidsjfs sdjfl sfkh fjfireh fqe hweufh wruef wuehf nsjddsbfwfo  djsdfjjhsdfk djshfds o  djsdfjjhsdfk djshfds
          .clear
          %br
        - else
          #news.pull-left
            = yield
          #sidebar.pull-right
            #datepicker
            %br
            .panel.panel-default
              .panel-heading
                %h3 Новости
              .panel-body
                - if @company_all_news
                  - @company_all_news.each do |news|
                    %h4
                      = news.created_at.to_date
                      = news.title
                    %hr.btn-danger
                    = link_to news.body.truncate(30), company_news_path(news)
                - else
                  %p На данный момент новостей нет.
            .panel.panel-default.pull-right{ style: "width: #{BannerRegion.second.width}; height: #{BannerRegion.second.height};" }
              = image_tag(Banner.where(banner_region: BannerRegion.second.id).last.path) if Banner.where(banner_region: BannerRegion.second.id).last
          .clear{style: 'content: "", display: block; clear: both;'}
        #bottom.well{ style: "width: #{BannerRegion.last.width}; height: #{BannerRegion.last.width};"}
          = image_tag(Banner.where(banner_region: BannerRegion.last.id).last.path) if Banner.where(banner_region: BannerRegion.last.id).last
        = image_tag('gg_web_960-12_7_podval.png')